	.contact-cont{
		padding: 4%;
		height: 400px;
		border-radius: 0.5rem;
	}
	.contact-text ,.contact-add{
		background: #ff9b00;
		padding: 4%;

	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.contact-form-cls{
		background: #fff;
		padding: 3%;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

	h1,h5,h6{
		color: white;
    }
    
    p{
        color: white;
    }
    .cen{
      position:relative;
      top:40%;
    }
    .card{
	  padding: auto;
	  margin-bottom: 10px;
	}
	.toggle{
		border:2px solid;
		border-left: 10px solid;
		border-color: #F39C12;
	}
	.icon-color{
		color:#232f3e;
	}