.parallax {
	/* The image used */
	opacity:0.85;
	/* Full height */
	height: 100%; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
	.parallax {
	  background-attachment: scroll;
	}
}
.contact-cont{
	padding: 4%;
	border-radius: 0.5rem;
}
.contact-text ,.contact-add{
	background: #5882c4;
	padding: 4%;
}
.contact-info{
	margin-top:10%;
}
.contact-info img{
	margin-bottom: 15%;
}
.contact-info h2{
	margin-bottom: 10%;
}
.contact-form-cls{
	background: #fff;
	padding: 3%;
}
.contact-form label{
	font-weight:600;
}
.contact-form button{
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}
.cen{
  position:relative;
  top:40%;
}
.card{
  padding: auto;
  margin-bottom: 10px;
}
.toggle{
	border:2px solid;
	border-left: 10px solid;
	border-color: #F39C12;
}
