<!DOCTYPE html>
<html lang="en">
<head>
  <title>Voyage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- calendar -->
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <!-- fa icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/v4-shims.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }} ">
  {% if contact %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'contact.css') }} ">
  {% endif %}
  {% if login %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css')}}">
  {% endif %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
    
 
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.css" rel="stylesheet">

</head>


<body>

<div class="aviair-navbar">
<nav class="navbar navbar-expand-md navbar-light fixed-top " style="height:4rem; z-index: 10; background-color:#3582B6; ">
  <a class="navbar-brand" href="#" ><img style="height:4rem;" src="http://getmasum.com/html-preview/voyage/assets/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse my-2 my-lg-0 " id="navbarSupportedContent" style="z-index:1; background-color: #3582B6; ">
    <ul class="navbar-nav ml-auto ">
      <strong><li class="nav-item home {% if home %} {{ home }} {% endif %}" ><a class="nav-link" href="http://127.0.0.1:5000/aviair/home" style="color:#fff; ">Book <span class="sr-only">(current)</span></a></li></strong>
      <strong><li class="nav-item contact {% if contact %} {{ contact }} {% endif %}"><a class="nav-link" href="http://127.0.0.1:5000/aviair/contact" style="color:#fff;">Contact Us</a></li></strong>

      {% if userdata %}
      <strong><li class="nav-item faq {% if profile %} {{ profile }} {% endif %}"><a class="nav-link" href="{{url_for('profile')}}" style="color:#fff;">MyProfile</a></li></strong>
      <strong><li class="nav-item faq"><a class="nav-link" href="{{url_for('logout')}}" style="color:#fff;">Logout</a></li></strong>
      <strong><li class="nav-item services"><a class="nav-link" style="color:#fff;">Welcome {{userdata.0}}</a></li></strong>
      {% else %}
      <strong><li class="nav-item faq"><a class="nav-link" href="/aviair/login" style="color:#fff;">Login</a></li></strong>
      <strong><li class="nav-item faq"><a class="nav-link" href="/aviair/register" style="color:#fff;">Register</a></li></strong>
      {% endif %}
    </ul>

  </div>
</nav>
</div>



{% block content %}
{% endblock content %}


<div style="position:relative; margin-top:10%">
  <!-- Footer -->
<footer class="page-footer bg-dark">

  <!-- Footer Links -->
  <div class="container">
    <div class="row" >
      <div class="col-md-4 col-sm-6 col-xs-6" style="margin-top:20px">
        <!-- Content -->
          <div class="column" style="overflow:hidden;">
            <pre style="color: white; font-size: 20px;">
              FIND US AT<br> 
              K.J.SOMAIYA COLLEGE OF ENGINEERING,<br>
              Vidyanagar,Vidyavihar.<br>
              Mumbai-400077
            </pre>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 mx-auto" style="margin-top:20px;">
          <div class="column">
            <p id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.7619184419354!2d72.89753296393815!3d19.074202587088955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6279e6fa183%3A0x8b414750f755e236!2sSomaiya+Vidyavihar!5e0!3m2!1sen!2sin!4v1565167811562!5m2!1sen!2sin" height="250" frameborder="0" style="border:0" allowfullscreen></iframe> </p>   
          </div>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 col-sm-6 col-xs-6 mx-auto" style="margin-top:20px">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white;">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix"> -->

      <!-- Grid column -->
      <div class="col-md-2 col-sm-6 col-xs-6 mx-auto" style="margin-top:20px">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white;">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>


  <br><br>

  <!-- Social buttons -->
    <div class="row bg-dark col-12" style="margin-top:0%;">
    <ul class="icon-list">
      <li >
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </ul>
    </div>
  <!-- Social buttons -->
  </footer>
<!-- Footer -->
</div>



<script>

  $(document).ready(function(){

  $('#calendar').click(function() {
        $('#date').datepicker({
        altField: "#actualDate"
    });
        $('#date').datepicker("show");
      });
  });

  function check(){
  var a=document.getElementById("from-airport").value;
  var b=document.getElementById("to-airport").value;
  if (a==b){
    alert("Source and destination cannot be same");
  };
  }
</script>
</body>
</html>
