{% extends "base.html" %}

{% block content %}

<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto col-lg-4 col-sm-12">
          <div class="booking-cta">
          <h1>Book your flight today</h1>
          <p>hey thereee!!!</p>
          </div>
        </div>
        <div class=" col-md-6 ml-auto mr-auto col-sm-12 col-lg-6">
          <div class="booking-form">
            <form>
              <div class="form-group">
                <div class="form-checkbox">
                  <label for="roundtrip">
                  <input type="radio" id="roundtrip" name="flight-type">
                  <span></span>Roundtrip
                  </label>
                  <label for="one-way">
                  <input type="radio" id="one-way" name="flight-type">
                  <span></span>One way
                  </label>
                  <label for="multi-city">
                  <input type="radio" id="multi-city" name="flight-type">
                  <span></span>Multi-City
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group dropdown-content" id="myDropdown">
                    <span class="form-label">Flying from</span>
                    <input type="text" class="form-control" placeholder="City or airport" id="from" onkeyup="filterFunction(this.id)" autocomplete="off">
                      <div class="dropdown-list " id="dropdown-list-from">
                        {% for a in airports %}
                          <li class="from" id="{{a}}" >{{a}}</li>
                        {% endfor %}
                      </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <span class="form-label">Flying to</span>
                    <input type="text" class="form-control" placeholder="City or airport" id="to" onkeyup="filterFunction(this.id)" autocomplete="off">
                      <div class="dropdown-list " id="dropdown-list-to">
                          {% for a in airports %}
                          <li class="to" id="{{a}}" >{{a}}</li>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                  <span class="form-label">Departing</span>
                  <input class="form-control" type="date" required>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                  <span class="form-label">Returning</span>
                  <input class="form-control" type="date" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <span class="form-label">Adults (18+)</span>
                    <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <span class="form-label">Children (0-17)</span>
                    <select class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <span class="form-label">Travel class</span>
                    <select class="form-control">
                    <option>Economy</option>
                    <option>Business</option>
                    <option>First class</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                  </div>
                </div>
            <div class="form-btn">
            <button class="submit-btn">Show flights</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-dark" style="height:20px; width:100%; "></div>


<div class="col-md-10 ml-auto mr-auto mt-6" style="margin-top: 100px">
	<div class="row">
		<div class="item col-md-4 col-xs-12">
			<div class="single-feature bg-light">
				<div class="icon"><i class="fa fa-gift" aria-hidden="true" style="font-size: 70px"></i></div>
					<h4><a href="#">Best Deals</a></h4>
					<p>Gets the most amazing discounts on your flight bookings from AviAIR. Also get assured AviCOINS on every booking here! </p>
				</div>
		</div>

		<div class="item col-md-4 col-xs-12">
			<div class="single-feature bg-light">
				<div class="icon"><i class="fa fa-plane" aria-hidden="true" style="font-size: 70px"></i></div>
					<h4><a href="#">Flight Updates</a></h4>
					<p>Get updates about your bookings and flight status on the go. </p>
				</div>
		</div>	

		<div class="item col-md-4 col-xs-12">
			<div class="single-feature bg-light">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true" style="font-size: 70px"></i></div>
					<h4><a href="#">24/7 Premium Support</a></h4>
					<p>Address all your issues to professionals who will readily help you for free and at any time, 24/7. </p>
				</div>
		</div>
    <!-- can add more like groups/agents, preferred seats-->
		
	</div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("click","li",function(){
      if($(this).hasClass("from")){
        $("input#from").val($(this).html());
        $("#dropdown-list-from").hide();
      }
      else if($(this).hasClass("to")){
        $("input#to").val($(this).html());
        $("#dropdown-list-to").hide();
      }
    });
    $("#from").click(function(){
      $("#dropdown-list-from").toggle();
      $("#from").attr("placeholder","Search airports...");
    });
    $("#to").click(function(){
      $("#dropdown-list-to").toggle();
      $("#to").attr("placeholder","Search airports...");
    });
  });

    function filterFunction(id){
      if(document.getElementById("dropdown-list-"+id).style.display==""){
        document.getElementById("dropdown-list-"+id).style.display="block";
      }
      div = document.getElementById("dropdown-list-"+id);
      a = div.getElementsByTagName("li");
      inp=document.getElementById(id).value.toLowerCase();
      for ( var i = 0; i < a.length; i++) {
        var txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toLowerCase().indexOf(inp) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
    }
  }
</script>

{% endblock content %}