{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible" style="z-index: 1; top:4rem;" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{category}}!</strong> {{message}}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<style>
    .uname-invalid{
        border: 2px solid rgb(243, 29, 29);
        box-shadow: 0 0 10px rgb(243, 29, 29);
    }
</style>
<div class="login-reg-panel">

    <div class="login-info-box ">
        <h2>Have an <br>account?</h2>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show" >
    </div>
                        
    <div class="register-info-box">
        <h2>Don't have an account?</h2>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>
                        
    <div class="white-panel ">
        <div class="login-show">
            <form method="post">
            <h2>LOGIN</h2>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="submit" value="Login" name="login" id="login">
            <a class="forgot" href="">Forgot password?</a>
            <a class="small-screen-login" href="./login">Dont have an account?</a>
            </form>
        </div>
        <div class="register-show" >
            <form method="post">
            <h2>REGISTER</h2>
            <input type="text" placeholder="Enter Fullname" name="fullname" autocomplete="off">
            <input type="text" placeholder="Enter Username" name="username" id="reg-uname" autocomplete="off">
            <span id="username-info" class=" username-info alert alert-danger">Username already taken</span>
            <input type="email" placeholder="Email" name="email" autocomplete="off">
            <input type="password" placeholder="Password" name="password" autocomplete="off">
            <input type="submit" value="Register" name="register" id="register">
            <a class="small-screen-register" href="./register">Have an account?</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">   
    $(document).ready(function(){
    var loc=window.location.href.split("/");
    var act =loc[loc.length-1];

    if(act=="login"){
        $('.register-info-box').fadeIn();
        $('.login-info-box').fadeOut();

        $('.white-panel').removeClass('right-log');   
        $('.login-show').addClass('show-log-panel');
        $('.register-show').removeClass('show-log-panel');
    }
    else{
        $('.register-info-box').fadeOut(); 
        $('.login-info-box').fadeIn();
        
        $('.white-panel').addClass('right-log');
        $('.register-show').addClass('show-log-panel');
        $('.login-show').removeClass('show-log-panel');
    }


        $("#reg-uname").on("change",function(){
            $.get("{{url_for('getUsernames')}}",function(data,status){
                users=JSON.parse(data);
                if(users.indexOf($("#reg-uname").val())!=-1){
                    $(".username-info").css('display','block');
                    $("#reg-uname").addClass('uname-invalid');
                    $("#register").prop("disabled",true);
                }
                else{
                    $(".username-info").css('display','none');
                    $("#reg-uname").removeClass('uname-invalid');
                    $("#register").prop("disabled",false);
                }
            });
        });
});


$('.login-reg-panel input[type="radio"]').on('change', function() {
    if($('#log-login-show').is(':checked')) {
        $('.register-info-box').fadeOut(); 
        $('.login-info-box').fadeIn();
        
        $('.white-panel').addClass('right-log');
        $('.register-show').addClass('show-log-panel');
        $('.login-show').removeClass('show-log-panel');
        
    }
    else if($('#log-reg-show').is(':checked')) {
        $('.register-info-box').fadeIn();
        $('.login-info-box').fadeOut();

        $('.white-panel').removeClass('right-log');   
        $('.login-show').addClass('show-log-panel');
        $('.register-show').removeClass('show-log-panel');
    }
});


</script>

{% endblock content %}